@use "../globals/" as size;

footer {
  padding: 0 6vw 0;
  margin-bottom: 34px;

  @include size.breakpoint(tablet) {
    padding: 0 8vw 0;
    margin-bottom: 64px;
  }

  .foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1110px;
    margin: 0 auto;

    img {
      width: 44px;

      @include size.breakpoint(tablet) {
        width: 64px;
      }
    }

    button {
      color: white;
      background-color: #030303;
      font-size: 14px;
      cursor: pointer;
      padding: 0 30px;
      border: none;
      font-weight: 700;
      height: 44px;
      border-radius: 28px;
      transition: all 0.3s ease-in-out;
    
      &:hover {
        background-color: #755cde;
      }

      @include size.breakpoint(tablet) {
        font-size: 1rem;
        height: 50px;
        padding: 0 2.9rem;
      }
    }

    
  }
}

