header {
  padding: 16px 5vw 0;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    img {
      width: 44px;
    }

    button {
      color: white;
      background-color: #030303;
      font-size: 14px;
      padding: 0 30px;
      border: none;
      font-weight: 700;
      height: 44px;
      border-radius: 28px;
    }
  }
}
