main {
  padding: 0 5vw;
  .main-text {
    h1 {
      text-align: center;
      margin-top: 36px;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 16px;
      color: #030303;
    }

    p {
      text-align: center;
      color: #7a746e;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
    }
  }
}
