@use "../globals/" as size;

main {
  padding: 0 5vw;
  @include size.breakpoint(tablet) {
    padding: 0 8vw;
  }
  .main-text {
    max-width: 1110px;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin-top: 46px;
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 16px;
      color: #030303;

      @include size.breakpoint(tablet) {
        margin-top: 64px;
        font-size: 44px;
        line-height: 55px;
        margin-bottom: 27px;
      }
      @include size.breakpoint(desktop) {
        margin-top: 66px;
        font-weight: 700;
        font-size: 56px;
        line-height: 71px;
        margin-bottom: 23px;
      }
    }

    p {
      text-align: center;
      color: #7a746e;
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;

      @include size.breakpoint(tablet) {
        font-size: 18px;
        width: 573px;
        margin: 0 auto;
      }
    }
  }
  .projects {
    margin: 42px 0 100px;
    max-width: 1110px;
    display: grid;
    gap: 20px;
    grid-template-areas:
      "one one"
      "one one"
      "two three"
      "four four"
      "five five"
      "six six";
    grid-template-rows: repeat(6, 182px);

    @include size.breakpoint(tablet) {
      gap: 24px;
      grid-template-rows: repeat(3, 182px);
      grid-template-areas:
        "one one two three"
        "one one four four"
        "five five six six";
      margin: 64px 0 120px;
    }

    @include size.breakpoint(desktop) {
      margin: 80px auto 136px;
      grid-template-rows: repeat(2, 182px);
      grid-template-areas:
        "one one two three four four"
        "one one five five six six";
    }

    div {
      width: 100%;
      height: 100%;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      padding: 22px;
      text-transform: capitalize;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      position: relative;
      border-radius: 8px;

      @include size.breakpoint(tablet) {
        padding: 24px;
      }

      img {
        position: absolute;
        top: 22px;
        right: 22px;

        @include size.breakpoint(tablet) {
          top: 24px;
          right: 24px;
        }
      }
    }

    &__1 {
      background-color: #755cde;
      grid-area: one;
    }
    &__2 {
      background-color: #f6a560;
      grid-area: two;
    }
    &__3 {
      background-color: #f39e9e;
      grid-area: three;
    }
    &__4 {
      background-color: #eb7565;
      grid-area: four;
    }
    &__5 {
      background-color: #61c4b7;
      grid-area: five;
    }
    &__6 {
      background-color: #552049;
      grid-area: six;
    }
  }
  .amy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2.55rem;
    max-width: 500px;
    margin: 100px auto 96px;
    padding: 0 1vw;

    @include size.breakpoint(tablet) {
      flex-direction: row;
      margin: 117px auto 120px;
      padding: 0;
      max-width: 1000px;
      gap: 5vw;
    }

    @include size.breakpoint(desktop) {
      margin: 136px auto 100px;
      max-width: 1110px;
    }

    img {
      width: 90%;

      @media screen and (min-width: 340px) {
        width: 300px;
      }

      @include size.breakpoint(desktop) {
        width: 445px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      @include size.breakpoint(tablet) {
        text-align: left;
        max-width: 50%;
        align-items: start;
      }

      h2 {
        font-size: 1.52rem;
        line-height: 2rem;
        letter-spacing: 0.05rem;
        font-weight: 700;

        @include size.breakpoint(desktop) {
          font-size: 2.35rem;
          letter-spacing: 0.08rem;
          line-height: 3rem;
        }
      }

      p {
        margin-top: 1.5rem;
        font-size: 0.98rem;
        margin-bottom: 1.5rem;
        line-height: 1.75rem;
        color: #7a746e;

        @include size.breakpoint(tablet) {
          font-size: 1.15rem;
          line-height: 1.75rem;
        }

        @include size.breakpoint(desktop) {
          margin-top: 2.3rem;
          margin-bottom: 2rem;
        }
      }

      button {
        height: 2.8rem;
        font-size: 0.9rem;
        padding: 0 1.8rem;
        background-color: #eb7565;
        border-radius: 9999px;
        letter-spacing: 0.03rem;
        color: #ffffff;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 500;
        text-transform: capitalize;

        @include size.breakpoint(desktop) {
          color: #fff;
          height: 3.5rem;
          font-size: 1rem;
          padding: 0 2.9rem;
          letter-spacing: 0.03rem;
        }
      }
    }
  }
}
